<form id="template-{{ template.id }}-edit" class="modal modal-fixed-footer template-edit" data-id="{{ template.id }}">
    <div class="modal-content">
        <h4>Edit Template</h4>
        <ul class="collapsible popout">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons">settings</i>Basic Settings</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" name="name" type="text" class="validate character-counter" data-length="64"  value="{{ template.name }}" required>
                            <label for="name">Template Name*</label>
                            <span class="helper-text" data-error="Field is required"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="email_to" name="email_to" type="text" class="validate character-counter" data-length="256"  value="{{ template.email_to }}" required>
                            <label for="email_to">Email To*</label>
                            <span class="helper-text" data-error="Field is required">The adres where the form submission is recieved</span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="email_subject" name="email_subject" type="text" class="validate character-counter" data-length="256"  value="{{ template.email_subject }}" required>
                            <label for="email_subject">Email Subject*</label>
                            <span class="helper-text" data-error="Field is required"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="email_content" name="email_content" class="materialize-textarea validate character-counter" data-length="15000" required>{{ template.email_content }}</textarea>
                            <label for="email_content">Email template*</label>
                            <span class="helper-text" data-error="Field is required">Template can include "{{"{{varName}}"}}" to be dynamicly added</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header"><i class="material-icons">tune</i>Advanced Settings</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="email_fromName" name="email_fromName" type="text" class="validate character-counter" data-length="256" value="{{ template.email_fromName }}">
                            <label for="email_fromName">Email fromName</label>
                            <span class="helper-text" data-error="Input too long">The name from the sender</span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="email_replyTo" name="email_replyTo" type="text" class="validate character-counter" data-length="256" value="{{ template.email_replyTo }}">
                            <label for="email_replyTo">Email replyTo</label>
                            <span class="helper-text" data-error="Input too long">The adres which is used by the reply button</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input id="email_cc" name="email_cc" type="text" class="validate character-counter" data-length="256" value="{{ template.email_cc }}">
                            <label for="email_cc">Email CC</label>
                            <span class="helper-text" data-error="Input too long"></span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="email_bcc" name="email_bcc" type="text" class="validate character-counter" data-length="256" value="{{ template.email_bcc }}">
                            <label for="email_bcc">Email BCC</label>
                            <span class="helper-text" data-error="Input too long"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="captcha_key" name="captcha_key" type="text" class="validate character-counter" data-length="40" value="{{ template.captcha_key }}">
                            <label for="captcha_key">Captcha Secret Key</label>
                            <span class="helper-text" data-error="Input too long">This optional key can be provided to require valid captcha response</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn blue accent-4 waves-effect waves-light">Update</button>
        <button class="btn blue accent-4 waves-effect waves-light modal-close" type="button">Cancel</button>
    </div>
</form>
